// Toolbar style
.toolbar_icon_wiki {
  background: image-url('wiki.png') no-repeat top center
}

// Wiki content style
.wiki_wrapper {
  padding: 5px;

  .missing_notice {
    margin-top: 40px;
    text-align: center;
    font-size: 26px;
    a { color: white; margin-top: 20px; text-decoration: none; font-size: 20px; }
  }

  form {
    .form-action {
      text-align: center;
      margin-top: 10px;
      input, a#print_btn { width: 100px; }
      a#print_btn { padding: 3px 5px; text-decoration: none; }
    }
  }

  .wiki_content {
    height: 630px;
  }
  .print_action {
    padding-top: 10px;
    text-align: center;
    a#print_btn { width: 100px; padding: 3px 5px; text-decoration: none; }
  }
}

.ke-edit-iframe {
  .ke-content {
    height: 100%;
    margin: 13px 3px;
    padding: 5px 0;
  }
}

li.submenu span.screen_wiki {
  width: 16px;
  height: 16px;
  float: right;
  padding-top: 2px;
  cursor: pointer;
}
